.cha_card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #747474;
    border-radius: 40px;
    width: 18vh;
    height: 25vh;
    
}
